.header {
	padding-top: 65px;
	padding-bottom:30px;
}

.footer {
	padding-top: 150px;
	padding-bottom: 50px;
}

div {
	/*border: gray dotted 1px;*/
}

html, body {
/*	background-color:#808080;*/
	font-family: 'VT323', monospace;
	color:black;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	font-size:18px;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
}

table, tr {
/*	border:1px solid blue;*/
	width:95%;
	margin: 0 auto;
}

tr {
	height:50px;
	vertical-align: bottom;
	line-height: 1.5em;
}

a {
	cursor: pointer;
}

.center {
	text-align:center;
}

.row-parent {
	margin-top:80px;
}

.intro {
	padding:15px;
	/*background: #e8c0ac;*/
	background: #e5e5e5;
	margin-top:35px;
	font-size:22px;
	text-transform: none;
	color: #484848;
	border: 2px solid #e5e5e5;
	box-shadow: 3px 3px 0 #939393;
	-webkit-font-smoothing: antialiased;
}

.intro p {
	margin:0;
	padding: 15px;
}

.intro .close {
	background:#939393;
	border-radius: 50%;
	padding: 2px 8px 2px 8px;
	margin-top:-5px;
	margin-right:-5px;
}

.description-col {
	height:510px;
	position:relative;
	text-align:left;
}

.description-hurry {
	position:absolute;
	bottom:0;
}

.description-furious {
	text-align:right;
	position:absolute;
	bottom:0;
}

.description-double {
	text-align:center;
}

.tee {
	padding: 10px;
}

.ride-tee {
	margin-left:583px;
}

.fashion-title, .why-news-title, .furious-title {
	padding-bottom:20px;
}

.why-news-title {
	float:left;
	padding-top:20px;
}

.protester-title {
	float:left;
	padding-top:25px;
	padding-bottom:25px;
}

.furious-btn {
	margin-right:30px;
}

.witness-btn {
	padding-top:28px;
}

.fashion-btn {
	margin-left:30px;
}

/*\\\\\\\\\\\\\ MODAL \\\\\\\\\\\\\*/

.modal-content {
	border: 2px solid #cb735c;
	box-shadow: 3px 3px 0 #939393;
	border-radius:0px;
}

form, input, option, select {
	font-size:18px;
	font-family: 'Poppins', sans-serif;
}

fieldset > label {
	font-size:16px;
	font-family: 'Poppins', sans-serif;
	padding-right:6%;
}

legend {
	border:0;
	margin-bottom:5px;
}

.checkbox {
	vertical-align: center;
	line-height: inherit;
}

label, legend {
	font-family: 'VT323', monospace;
	font-size: 22px;
	letter-spacing: 0.05px;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	color:black;
}

.sizing {
	font-size:14px;
	margin: 8px auto 10px auto;
	padding-top: 10px;
	padding-bottom:20px;
	border-top:1px solid #e5e5e5;
	border-bottom:1px solid #e5e5e5;
}

.sizing tr {
	padding:3;
	height: 30px;
}

.sizing table {
	width:50%;
	margin:0 0 0 20px;
}

.sizing th {
	font-family: 'VT323', monospace;
	font-size: 20px;
	letter-spacing: 0.05px;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
}

.sizing p {
	font-size:22px;
	font-family: 'VT323', monospace;
	letter-spacing: 0.05px;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	color: #484848;
}

/*\\\\\\\\\\\\\ BUTTONS \\\\\\\\\\\\\*/

.button {
	/*border: 2px solid #cb735c;
	box-shadow: 3px 3px 0 #939393;
	background-color:#FFF;*/

	padding: 8px 20px 8px 20px;
	font-family: 'VT323', monospace;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color:black;
	cursor: pointer;
	transition: all 0.3s ease-out;
	background: #f2ded4;
	border:none;
	box-shadow: 3px 3px 0 #cb735c;
}

.button:hover {
	color:black;
	text-decoration: none;
	cursor: pointer;
}


/* Extra small devices (phones, less than 768px) */
@media only screen and (max-width: 768px) { 
	.description-col {
		height:105px;
		text-align:center;
	}

	.ride-tee {
		margin:0;
	}

	table {
		text-align:center;
	}

	.description-hurry, .description-furious {
		position:relative;
	}

	.why-news-title, .protester-title {
		margin-top: 30px;
		margin-bottom: 20px;
	}

	.sizing table {
		width:95%;
		text-align:left;
		margin: 0 auto;
	}
}

/* Small devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) { 
	.description-col {
		height:315px;
	}

	.ride-tee {
		margin-left:373px;
	}

	.why-news-title {
		float:left;
		margin-left:100px;
	}

	.witness-empty {
		padding-top:30px;
	}

	.grieve-empty {
		padding-top:39px;
	}

	.protester-title {
		float: left;
		margin-left: 85px;
	}

}

/* Medium devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.description-col {
		height:390px;
	}

	.ride-tee {
		margin-left:483px;
	}

	.why-news-title {
		float:left;
		margin-left:150px;
	}

	.witness-empty {
		padding-top:40px;
	}

	.grieve-empty {
		padding-top:45px;
	}

	.protester-title {
		float: left;
		margin-left: 130px;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) { 
	.description-col {
		height:490px;
	}

	.ride-tee {
		margin-left:583px;
	}

	.why-news-title {
		float:left;
		margin-left:200px;
	}

	.protester-title {
		float: left;
		margin-left: 175px;
	}

	.witness-empty {
		padding-top:50px;
	}

	.grieve-empty {
		padding-top:55px;
	}
}